@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.jokes-container{
    margin-left: 50px;
    width: 50%;
}

.jokes-card{
  margin-top: 50px;
  border-bottom: 1px solid black;
}

.jokes-items{
    margin-bottom: 20px;
}

.reactions{
    display: flex;
    align-items: center;
    justify-content: start;
}

.reactions p{
    margin-left: 10px;
    cursor: pointer;
}

.comments img{
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.comments{
    display: flex;
    align-items: center;
}